botId=0
clientId=665206
apiKey=8C3i5RNNZ3Hvy3epS7TKRp87a3K6tX4s
apiSecret=ZPS0qszXKqWtOM8PeTiLrqJuCOjLI3rl
macdBuyFast=29
macdBuySlow=381
macdBuySignal=168
macdSellFast=55
macdSellSlow=199
macdSellSignal=207
macdMinBuyThreshold=7.1959
macdMinSellThreshold=-25.4469
macdSellPricePeriod=84
macdLossCutThreshold=0.989084
macdSellThresholdRelaxationFactor=19.35
tradefloorLimitOrder=0