botId=0
clientId=665206
apiKey=8C3i5RNNZ3Hvy3epS7TKRp87a3K6tX4s
apiSecret=ZPS0qszXKqWtOM8PeTiLrqJuCOjLI3rl
macdBuyFast=29
macdBuySlow=470
macdBuySignal=323
macdSellFast=115
macdSellSlow=240
macdSellSignal=290
macdMinBuyThreshold=4.97
macdMinSellThreshold=-19.24
macdLossCutThreshold=0.97
macdSellThresholdRelaxationFactor=20.35
tradefloorLimitOrder=0