botId=1
clientId=821581
apiKey=rOlWvTyTL0ZZL7OztIH9nCbS66WOEc4h
apiSecret=NksKaAEE9ZbcMTu1nJ1YiOAbdJT0lqTh
macdBuyFast=29
macdBuySlow=381
macdBuySignal=168
macdSellFast=55
macdSellSlow=199
macdSellSignal=207
macdMinBuyThreshold=7.1959
macdMinSellThreshold=-25.4469
macdSellPricePeriod=84
macdLossCutThreshold=0.989084
macdSellThresholdRelaxationFactor=19.35
tradefloorLimitOrder=0