botId=1
clientId=821581
apiKey=rOlWvTyTL0ZZL7OztIH9nCbS66WOEc4h
apiSecret=NksKaAEE9ZbcMTu1nJ1YiOAbdJT0lqTh
macdBuyFast=30
macdBuySlow=362
macdBuySignal=388
macdSellFast=87
macdSellSlow=349
macdSellSignal=641
macdMinBuyThreshold=5.2
macdMinSellThreshold=-28.65
macdLossCutThreshold=0.97
macdSellThresholdRelaxationFactor=13.38
tradefloorLimitOrder=1