botId=2
clientId=XXXXXXXXXXXXXXXXXXXXXXX
apiKey=XXXXXXXXXXXXXXXXXXXXXXX
apiSecret=XXXXXXXXXXXXXXXXXXXXXXX
dbUser=grizgal
dbPwd=XXXXXXXXXXXXXXXXXXXXXXX
config={"timestep":60000,"buyAnalysisConfig":{"fastPeriod":5616155,"slowPeriod":6471469,"signalPeriod":26842535},"sellAnalysisConfig":{"fastPeriod":4196788,"slowPeriod":5393326,"signalPeriod":94311},"volumeAnalysisConfig":{"fastPeriod":52486570,"slowPeriod":62129385,"signalPeriod":24240508},"traderConfig":{"minBuyDiffThreshold":15.0,"minSellDiffThreshold":-25.0,"buyVolumeThreshold":1.5,"lossCutThreshold":0.85,"sellThresholdRelaxationFactor":20.0,"sellPricePeriod":2918039}}
tradefloorLimitOrder=0
walletReserveUsd=0
emailNotify=XXXXXXXXXXXXXXXXXXXXXXX.com
