botId=2
clientId=
apiKey=
apiSecret=
dbUser=grizgal
dbPwd=3KZyMXyxUTbqTDRF
config={"timestep":60000,"buyAnalysisConfig":{"fastPeriod":2220000,"slowPeriod":27720000,"signalPeriod":16680000},"sellAnalysisConfig":{"fastPeriod":8160000,"slowPeriod":8880000,"signalPeriod":17400000},"volumeAnalysisConfig":{"fastPeriod":1800000,"slowPeriod":3780000,"signalPeriod":22800000},"traderConfig":{"minBuyDiffThreshold":6.223,"minSellDiffThreshold":-17.1638,"buyVolumeThreshold":0.3376,"lossCutThreshold":0.988042,"sellThresholdRelaxationFactor":13.83,"sellPricePeriod":5280000}}
tradefloorLimitOrder=0
walletReserveUsd=0
emailNotify=youraddress@email.com